
@media only screen and (min-width:750px){



    @import 'https://fonts.google.com/specimen/Poppins';
    @import 'variables';
    header{
        width: 100%;
        position: relative;
        justify-content: center;
    
        .container-wrapper{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 2.5625rem 4.6875rem;
            
            align-items: center;
    
            
    
            
            
            .logo{
                width: 9.5rem;
            };
            .btn-header{
                justify-content: center;
                display: flex;
            }
            .btn-nav{
                background-color: white;
                color: $VERYDARKCYAN;
                width:11rem;
                height: 2.3rem;
                border-radius: 2rem;
                cursor: pointer;
                outline: none;
                border:none;
                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .3);
                transition: 1s;
                will-change: transform;
                font-weight: bold;
            
            }
            
    
            
    
        }
    
        .card-flex{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 2.5625rem 4.6875rem;
            
            align-items: center;
            .card-hero{
                width: 50%;
                align-items: center;
                h3{
                    align-items: center;
                    
                    text-align: initial;
                    width: 100%;
    
                }
                .card-paragraph{
                    margin-top: 2rem;
                    
                    line-height: normal;
                    font-size: 1.37rem;
                    
    
                }
                .btn-card{
                    
                    justify-content: center;
                    display: flex;
                    .card-action{
                    margin-top: 1.5rem;
                    width:13rem;
                    height: 2.4rem;
                    border-radius: 2rem;
                    cursor: pointer;
                    outline: none;
                    border:none;
                    color: white;
                    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .2);
                    
                    background-color: $VERYPink;
                    font-weight: bold;
    
                    }
    
                }
            }
            
            .img-content{
                width: 40%;
    
            }
    
        }
    
        
        .before{
            position: absolute;
            background-image: url(/images/bg-hero-desktop.svg);
            background-color: $VERYPALECYAN;
            background-repeat: no-repeat;
            height: 90vh;
            width: 100%;
            top: 0;
            left: 0;
            background-position: top;
            z-index: -1;
        }
        
        
    }


}    

